<html>
    <head>
        <meta charset- "utf-8"/>
    </head>
    <body>
        <form>
            <fieldset>
                <legend>Choose a Profile Picture</legend>
                Select a character: <select id = "profileCharacter" onChange = "swapImage()">
                    <option value = "tempIMG/default.png"> Select One </option>
                    <option value = "tempIMG/asuna.jpeg"> Asuna</option>
                    <option value = "tempIMG/batman.png"> Batman</option>
                    <option value = "tempIMG/blackwidow.png"> Black Widow</option>
                    <option value = "tempIMG/cersei.jpg"> Cersei Lannister</option>
                    <option value = "tempIMG/daenerys.jpg"> Daenerys Targaryen</option>
                    <option value = "tempIMG/galadriel.png"> Galadriel</option>
                    <option value = "tempIMG/gandalf.jpg"> Gandalf</option>
                    <option value = "tempIMG/goku.png"> Goku</option>
                    <option value = "tempIMG/hermione.jpg"> Hermione</option>
                    <option value = "tempIMG/kakashi.jpg"> Kakashi</option>
                    <option value = "tempIMG/kirk.png"> Kirk</option>
                    <option value = "tempIMG/leia.png"> Leia</option>
                    <option value = "tempIMG/link.png"> Link</option>
                    <option value = "tempIMG/luffy.png"> Luffy</option>
                    <option value = "tempIMG/mario.png"> Mario</option>
                    <option value = "tempIMG/peach.jpeg"> Princess Peach</option>
                    <option value = "tempIMG/spiderman.png"> Spider-Man</option>
                    <option value = "tempIMG/spock.jpg"> Spock</option>
                    <option value = "tempIMG/tracer.jpg"> Tracer</option>
                    <option value = "tempIMG/vader.jpeg"> Vader</option>
                    <option value = "tempIMG/wonder_woman.png"> Wonder Woman</option>
                    <option value = "tempIMG/yoda.png"> Yoda</option>
                    <option value = "tempIMG/zelda.png"> Zelda</option>
                </select> <br/>
                <br>
                <img id = "profilePicture" src = "tempIMG/default.png" alt="User Image"/>
                <!-- TODO: Some call to get the names of characters from that genre -->
                <script type = "text/javascript">
                    function swapImage()
                    {
                        var image = document.getElementById("profilePicture");
                        var character = document.getElementById("profileCharacter");
                        image.src = character.value;
                    };
                </script>
            </fieldset>
        </form>
        
    </body>
</html>