<html>
<div class="container-fluid">
<div class="container text-left" style="width: 1400; max-width: 1400;"> 

<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
        #map {
            height: 500px;
            width: 500px;
        }

        /* Optional: Makes the sample page fill the window. */

        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
</head>

<body>
    {% block body %}
      <h1>Optional:</h1>
      <h2>This website will ask for your location.</h2>
      <h2>Only provide it if you wish to show others your location on your profile.</h2>
      <h1>Optional:</h1>
      <h2>Click the Twitter icon to sign in with twitter.</h2>
      <h2>Doing this will post your tweets on your profile page for others to see.</h2>
                
                  
        <p>
      <a href="{{ url_for('twitterauth') }}"><img src="{{
        url_for('static', filename='Twitter.png') }}" alt="sign in"></a>
             
    {% endblock %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div>{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <h1>Recommended:</h1>
    <form method=POST action="{{ url_for('editprofile') }}">
        <fieldset>
            <legend>Edit Your Profile</legend>
                <div class="form-group">
                    Select a character: <select name="profileCharacter" id="profileCharacter" onChange="swapImage()" onLoad="swapImage()">
                    <option value = "{{url_for('static',filename ='default.png')}}"> Select One </option>
                    <option {{'selected="selected"' if sessionUser['avatarImage'] == "asuna.jpeg"}} value = "{{url_for('static',filename ='asuna.jpeg')}}"> Asuna</option>
                    <option {{'selected="selected"' if sessionUser['avatarImage'] == "batman.png"}} value = "{{url_for('static',filename ='batman.png')}}"> Batman</option>
                    <option {{'selected="selected"' if sessionUser['avatarImage'] == "blackwidow.png"}} value = "{{url_for('static',filename ='blackwidow.png')}}"> Black Widow</option>
                    <option {{'selected="selected"' if sessionUser['avatarImage'] == "cersei.jpg"}} value = "{{url_for('static',filename ='cersei.jpg')}}"> Cersei Lannister</option>
                    <option {{'selected="selected"' if sessionUser['avatarImage'] == "daenerys.jpg"}} value = "{{url_for('static',filename ='daenerys.jpg')}}"> Daenerys Targaryen</option>
                    <option {{'selected="selected"' if sessionUser['avatarImage'] == "galadriel.png"}} value = "{{url_for('static',filename ='galadriel.png')}}"> Galadriel</option>
                    <option {{'selected="selected"' if sessionUser['avatarImage'] == "gandalf.jpg"}} value = "{{url_for('static',filename ='gandalf.jpg')}}"> Gandalf</option>
                    <option {{'selected="selected"' if sessionUser['avatarImage'] == "goku.png"}} value = "{{url_for('static',filename ='goku.png')}}"> Goku</option>
                    <option {{'selected="selected"' if sessionUser['avatarImage'] == "hermione.jpg"}} value = "{{url_for('static',filename ='hermione.jpg')}}"> Hermione</option>
                    <option {{'selected="selected"' if sessionUser['avatarImage'] == "kakashi.jpg"}} value = "{{url_for('static',filename ='kakashi.jpg')}}"> Kakashi</option>
                    <option {{'selected="selected"' if sessionUser['avatarImage'] == "kirk.png"}} value = "{{url_for('static',filename ='kirk.png')}}"> Kirk</option>
                    <option {{'selected="selected"' if sessionUser['avatarImage'] == "leia.png"}} value = "{{url_for('static',filename ='leia.png')}}"> Leia</option>
                    <option {{'selected="selected"' if sessionUser['avatarImage'] == "link.png"}} value = "{{url_for('static',filename ='link.png')}}"> Link</option>
                    <option {{'selected="selected"' if sessionUser['avatarImage'] == "luffy.png"}} value = "{{url_for('static',filename ='luffy.png')}}"> Luffy</option>
                    <option {{'selected="selected"' if sessionUser['avatarImage'] == "mario.png"}} value = "{{url_for('static',filename ='mario.png')}}"> Mario</option>
                    <option {{'selected="selected"' if sessionUser['avatarImage'] == "peach.jpeg"}} value = "{{url_for('static',filename ='peach.jpeg')}}"> Princess Peach</option>
                    <option {{'selected="selected"' if sessionUser['avatarImage'] == "spiderman.png"}} value = "{{url_for('static',filename ='spiderman.png')}}"> Spider-Man</option>
                    <option {{'selected="selected"' if sessionUser['avatarImage'] == "spock.jpg"}} value = "{{url_for('static',filename ='spock.jpg')}}"> Spock</option>
                    <option {{'selected="selected"' if sessionUser['avatarImage'] == "tracer.jpg"}} value = "{{url_for('static',filename ='tracer.jpg')}}"> Tracer</option>
                    <option {{'selected="selected"' if sessionUser['avatarImage'] == "vader.jpeg"}} value = "{{url_for('static',filename ='vader.jpeg')}}"> Vader</option>
                    <option {{'selected="selected"' if sessionUser['avatarImage'] == "wonder_woman.png"}} value = "{{url_for('static',filename ='wonder_woman.png')}}"> Wonder Woman</option>
                    <option {{'selected="selected"' if sessionUser['avatarImage'] == "yoda.png"}} value = "{{url_for('static',filename ='yoda.png')}}"> Yoda</option>
                    <option {{'selected="selected"' if sessionUser['avatarImage'] == "zelda.png"}} value = "{{url_for('static',filename ='zelda.png')}}"> Zelda</option>
                </select> <br/>
                </div>

            <br>
            <img id="profilePicture" name="profilePicture" src="{{url_for('static',filename ='default.png')}}" alt="User Image" />
            <!-- TODO: Some call to get the names of characters from that genre -->

            <script type="text/javascript">
                function swapImage() {
                    var image = document.getElementById("profilePicture"); //This element is where the image will be displayed
                    var character = document.getElementById("profileCharacter"); //This element is the character image that will be displayed.
                    image.src = character.value; //character.value is the image name to i.e. 'yoda.png'
                };
                swapImage()
            </script>

            <br><br> Write a profile description
            <br>

            <div class="form-group">
                <textarea class="form-control" name="profileDescription" rows="5" cols="50" id="description">{{sessionUser['profileDescription']}}</textarea>
            </div>

            <div class="form-group" action="" onsubmit="return false">
                <div id="accordion">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Books
        </button>
                            </h5>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                <input type="checkbox" class="form-control" name="interest1" value="fantasy" {{'checked="checked"' if sessionUser['interest1'] else ""}}> Fantasy<br>
                                <input type="checkbox" class="form-control" name="interest2" value="fiction" {{'checked="checked"' if sessionUser['interest2'] else ""}}> Fiction<br>
                                <input type="checkbox" class="form-control" name="interest3" value="science fiction"{{'checked="checked"' if sessionUser['interest3'] else ""}}> Science Fiction<br>
                                <input type="checkbox" class="form-control" name="interest4" value="bigraphical"{{'checked="checked"' if sessionUser['interest4'] else ""}}> Biographical
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          Comics
        </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                <input type="checkbox" class="form-control" name="interest5" value="american comics"{{'checked="checked"' if sessionUser['interest5'] else ""}}> American Comics<br>
                                <input type="checkbox" class="form-control" name="interest6" value="manga"{{'checked="checked"' if sessionUser['interest6'] else ""}}> Manga<br>
                                <input type="checkbox" class="form-control" name="interest7" value="manhwa"{{'checked="checked"' if sessionUser['interest7'] else ""}}> Manhwa<br>
                                <input type="checkbox" class="form-control" name="interest8" value="web toons"{{'checked="checked"' if sessionUser['interest8'] else ""}}> Web Toons
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Games
        </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body">
                                <input type="checkbox" class="form-control" name="interest9" value="fighting"{{'checked="checked"' if sessionUser['interest9'] else ""}}> Fighting<br>
                                <input type="checkbox" class="form-control" name="interest10" value="fps"{{'checked="checked"' if sessionUser['interest10'] else ""}}> FPS<br>
                                <input type="checkbox" class="form-control" name="interest11" value="mmo"{{'checked="checked"' if sessionUser['interest11'] else ""}}> MMO<br>
                                <input type="checkbox" class="form-control" name="interest12" value="moba"{{'checked="checked"' if sessionUser['interest12'] else ""}}> MOBA<br>
                                <input type="checkbox" class="form-control" name="interest13" value="rpg"{{'checked="checked"' if sessionUser['interest13'] else ""}}> RPG<br>
                                <input type="checkbox" class="form-control" name="interest14" value="rts"{{'checked="checked"' if sessionUser['interest14'] else ""}}> RTS
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFour">
                            <h5 class="mb-0">
                                <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
         Movies
        </button>
                            </h5>
                        </div>
                        <div id="collapseFour" class="collapse show" aria-labelledby="headingFour" data-parent="#accordion">
                            <div class="card-body">
                                <input type="checkbox" class="form-control" name="interest15" value="action"{{'checked="checked"' if sessionUser['interest15'] else ""}}> Action<br>
                                <input type="checkbox" class="form-control" name="interest16" value="comedy"{{'checked="checked"' if sessionUser['interest16'] else ""}}> Comedy<br>
                                <input type="checkbox" class="form-control" name="interest17" value="drama"{{'checked="checked"' if sessionUser['interest17'] else ""}}> Drama<br>
                                <input type="checkbox" class="form-control" name="interest18" value="indy"{{'checked="checked"' if sessionUser['interest18'] else ""}}> Indy
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>
            <script>
                var acc = document.getElementsByClassName("accordion");
                var i;
                for (i = 0; i < acc.length; i++) {
                    acc[i].addEventListener("click", function() {
                        this.classList.toggle("active");
                        var panel = this.nextElementSibling;
                        if (panel.style.display === "block") {
                            panel.style.display = "none";
                        }
                        else {
                            panel.style.display = "block";
                        }
                    });
                }
            </script>
            <br><br>
            <div class="form-group">
                Custom Interest:
                <input type="text" class="form-control" value="{{sessionUser['interest19']}}" name="interest19">
            </div>
        </fieldset>
        <button type="submit">Continue</button>
    </form>
    <div id="map"></div>
    <script>
        var map, infoWindow;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: 39.8283, lng: -98.5795 },
                zoom: 7,
                disableDefaultUI: true,
                gestureHandling: 'none'
            });
            infoWindow = new google.maps.InfoWindow;
            // Try HTML5 geolocation.
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude,
                    };
                    infoWindow.setPosition(pos);
                    infoWindow.setContent('Location found.');
                    infoWindow.open(map);
                    map.setCenter(pos);
                    
                    // update location
                    var request = new XMLHttpRequest();
                    request.open("POST", "{{ url_for('updatelocation') }}");
                    request.setRequestHeader("Content-Type", "application/json");
                    request.send(JSON.stringify(pos));
                }, function() {
                    handleLocationError(true, infoWindow, map.getCenter());
                });
            }
            else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
            }
        }
        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(browserHasGeolocation ?
                'Error: The Geolocation service failed.' :
                'Error: Your browser doesn\'t support geolocation.');
            infoWindow.open(map);
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwSBN9WKWNW7zdGPXgalQkmTUZ_KssX7g&callback=initMap">
    </script>
</body>

</div>
</div>
</html>