<html>

<head>
    <meta charset- "utf-8"/>
</head>

<body>
    <form method=POST action="{{ url_for('editprofile') }}">
        <fieldset>
            <legend>Edit Your Profile</legend>
            Select a character: <select id="profileCharacter" onChange="swapImage()">
                    <option value = "{{url_for('static',filename ='default.png')}}"> Select One </option>
                    <option value = "{{url_for('static',filename ='asuna.jpeg')}}"> Asuna</option>
                    <option value = "{{url_for('static',filename ='batman.png')}}"> Batman</option>
                    <option value = "{{url_for('static',filename ='blackwidow.png')}}"> Black Widow</option>
                    <option value = "{{url_for('static',filename ='cersei.jpg')}}"> Cersei Lannister</option>
                    <option value = "{{url_for('static',filename ='daenerys.jpg')}}"> Daenerys Targaryen</option>
                    <option value = "{{url_for('static',filename ='galadriel.png')}}"> Galadriel</option>
                    <option value = "{{url_for('static',filename ='gandalf.jpg')}}"> Gandalf</option>
                    <option value = "{{url_for('static',filename ='goku.png')}}"> Goku</option>
                    <option value = "{{url_for('static',filename ='hermione.jpg')}}"> Hermione</option>
                    <option value = "{{url_for('static',filename ='kakashi.jpg')}}"> Kakashi</option>
                    <option value = "{{url_for('static',filename ='kirk.png')}}"> Kirk</option>
                    <option value = "{{url_for('static',filename ='leia.png')}}"> Leia</option>
                    <option value = "{{url_for('static',filename ='link.png')}}"> Link</option>
                    <option value = "{{url_for('static',filename ='luffy.png')}}"> Luffy</option>
                    <option value = "{{url_for('static',filename ='mario.png')}}"> Mario</option>
                    <option value = "{{url_for('static',filename ='peach.jpeg')}}"> Princess Peach</option>
                    <option value = "{{url_for('static',filename ='spiderman.png')}}"> Spider-Man</option>
                    <option value = "{{url_for('static',filename ='spock.jpg')}}"> Spock</option>
                    <option value = "{{url_for('static',filename ='tracer.jpg')}}"> Tracer</option>
                    <option value = "{{url_for('static',filename ='vader.jpeg')}}"> Vader</option>
                    <option value = "{{url_for('static',filename ='wonder_woman.png')}}"> Wonder Woman</option>
                    <option value = "{{url_for('static',filename ='yoda.png')}}"> Yoda</option>
                    <option value = "{{url_for('static',filename ='zelda.png')}}"> Zelda</option>
                </select> <br/>
            <br>
            <img id="profilePicture" name = "profilePicture" src="{{url_for('static',filename ='default.png')}}" alt="User Image" />
            <!-- TODO: Some call to get the names of characters from that genre -->

            <script type="text/javascript">
                function swapImage() {
                    var image = document.getElementById("profilePicture"); //This element is where the image will be displayed
                    var character = document.getElementById("profileCharacter"); //This element is the character image that will be displayed.
                    image.src = character.value; //character.value is the image name to i.e. 'yoda.png'
                };
            </script>

            <br><br> Write a profile description
            <br>

            <div class="form-group">
                <textarea class="form-control" name="profileDescription" rows="5" cols="50" id="description" placeholder="ProfileDescriptionTextArea"></textarea>
            </div>

            <div class="form-group">
                <button class="accordion">Books</button>
                <div class="panel">
                    <input type="checkbox" class="form-control" name="interest1" value="fantasy" checked> Fantasy<br>
                    <input type="checkbox" class="form-control" name="interest2" value="fiction"> Fiction<br>
                    <input type="checkbox" class="form-control" name="interest3" value="science fiction"> Science Fiction<br>
                    <input type="checkbox" class="form-control" name="interest4" value="bigraphical"> Biographical
                </div>

                <button class="accordion">Comics</button>
                <div class="panel">
                    <input type="checkbox" class="form-control" name="interest5" value="american comics" checked> American Comics<br>
                    <input type="checkbox" class="form-control" name="interest6" value="manga"> Manga<br>
                    <input type="checkbox" class="form-control" name="interest7" value="manhwa"> Manhwa<br>
                    <input type="checkbox" class="form-control" name="interest8" value="web toons"> Web Toons
                </div>

                <button class="accordion">Games</button>
                <div class="panel">
                    <input type="checkbox" class="form-control" name="interest9" value="fighting" checked> Fighting<br>
                    <input type="checkbox" class="form-control" name="interest10" value="fps"> FPS<br>
                    <input type="checkbox" class="form-control" name="interest11" value="mmo"> MMO<br>
                    <input type="checkbox" class="form-control" name="interest12" value="moba"> MOBA<br>
                    <input type="checkbox" class="form-control" name="interest13" value="rpg"> RPG<br>
                    <input type="checkbox" class="form-control" name="interest14" value="rts"> RTS<br>
                </div>

                <button class="accordion">Movies</button>
                <div class="panel">
                    <input type="checkbox" class="form-control" name="interest15" value="action" checked> Action<br>
                    <input type="checkbox" class="form-control" name="interest16" value="comedy"> Comedy<br>
                    <input type="checkbox" class="form-control" name="interest17" value="drama"> Drama<br>
                    <input type="checkbox" class="form-control" name="interest18" value="indy"> Indy
                </div>

            </div>
            <script>
                var acc = document.getElementsByClassName("accordion");
                var i;
                acc[i].preventDefault();

                for (i = 0; i < acc.length; i++) {
                    acc[i].addEventListener("click", function() {
                        this.classList.toggle("active");
                        var panel = this.nextElementSibling;
                        if (panel.style.display === "block") {
                            panel.style.display = "none";
                        }
                        else {
                            panel.style.display = "block";
                        }
                    });
                }
            </script>
            <br><br>
            <div class="form-group">
                Custom Interest:
                <input type="text" class="form-control" name="customInterest">
            </div>
        </fieldset>
        <button type="submit">Continue</button>
    </form>

</body>

</html>
