{% include "dashboard.html" %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    </head>
    <body>
    <h1>Friends:</h1>
        <ul>
            {% if user.friend1 != "" %}
                <li><img src="{{url_for('static', filename=friend1.avatarImage)}}" class="img-circle" height="55" width="55" alt="Avatar"><a href="/users/{{ user.friend1 }}">{{user.friend1}}</a></li>
            {% endif %}
            {% if user.friend2 != "" %}
                <li><img src="{{url_for('static', filename=friend2.avatarImage)}}" class="img-circle" height="55" width="55" alt="Avatar"><a href="/users/{{ user.friend2 }}">{{user.friend2}}</a></li>
            {% endif %}
            {% if user.friend3 != "" %}
                <li><img src="{{url_for('static', filename=friend3.avatarImage)}}" class="img-circle" height="55" width="55" alt="Avatar"><a href="/users/{{ user.friend3 }}">{{user.friend3}}</a></li>
            {% endif %}
            {% if user.friend4 != "" %}
                <li><img src="{{url_for('static', filename=friend4.avatarImage)}}" class="img-circle" height="55" width="55" alt="Avatar"><a href="/users/{{ user.friend4 }}">{{user.friend4}}</a></li>
            {% endif %}
            {% if user.friend5 != "" %}
                <li><img src="{{url_for('static', filename=friend5.avatarImage)}}" class="img-circle" height="55" width="55" alt="Avatar"><a href="/users/{{ user.friend5 }}">{{user.friend5}}</a></li>
            {% endif %}
            {% if user.friend6 != "" %}
                <li><img src="{{url_for('static', filename=friend6.avatarImage)}}" class="img-circle" height="55" width="55" alt="Avatar"><a href="/users/{{ user.friend6 }}">{{user.friend6}}</a></li>
            {% endif %}
            {% if user.friend7 != "" %}
                <li><img src="{{url_for('static', filename=friend7.avatarImage)}}" class="img-circle" height="55" width="55" alt="Avatar"><a href="/users/{{ user.friend7 }}">{{user.friend7}}</a></li>
            {% endif %}
            {% if user.friend8 != "" %}
                <li><img src="{{url_for('static', filename=friend8.avatarImage)}}" class="img-circle" height="55" width="55" alt="Avatar"><a href="/users/{{ user.friend8 }}">{{user.friend8}}</a></li>
            {% endif %}
            {% if user.friend9 != "" %}
                <li><img src="{{url_for('static', filename=friend9.avatarImage)}}" class="img-circle" height="55" width="55" alt="Avatar"><a href="/users/{{ user.friend9 }}">{{user.friend9}}</a></li>
            {% endif %}
            {% if user.friend10 != "" %}
                <li><img src="{{url_for('static', filename=friend10.avatarImage)}}" class="img-circle" height="55" width="55" alt="Avatar"><a href="/users/{{ user.friend10 }}">{{user.friend10}}</a></li>
            {% endif %}
        </ul>
    </body>
</html>