{% include "dashboard.html" %}
{% block body %}
<html>
    <head>
        <link  href="css/styles.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <header> 
            <h1>Team Me Up Scotty</h1>
        </header>
        <a href="{{ url_for('editprofile') }}">Edit Profile</a>
        <div id = "profile">
            <h2> Welcome {{user.name}} </h2>
        </div>
        <a href="{{ url_for('user', siteUser=user.name) }}">My profile</a>
        
        <h2>Your Status: {{user.profileStatus}}</h2>
        <br>
        <form action="/updateStatus" method="post">
            <input type="text" name="statusTextField"></input>
            <br>
            </a><input type="submit" class="btn btn-default" value="Post!" name="statusTextPost" ></button>
        </form>
        
        <div id="connections">
            <h2> Find Users with Similar Interests</h2>
            <a href="{{ url_for('matches') }}">Find Users</a>
        </div>
        <div class="form-group">
            Custom Interest:
        </div>
        <div id = "events">
            <h2> Events</h2>
        </div>
    </body>
</html>
{% endblock %}