{% include "dashboard.html" %}
{% block body %}
<html>
    <head>
        <link  href="css/styles.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    </head>
    <body>
        <header> 
            <h1>Team Me Up Scotty</h1>
        </header>
        <a href="{{ url_for('editprofile') }}">Edit Profile</a>
        <div id = "profile">
            <h2> Welcome {{user.name}} </h2>
        </div>
        <h2>Your Status: {{user.profileStatus}}</h2>
        <br>
        <form action="/updateStatus" method="post">
            <input type="text" name="statusTextField"></input>
            <br>
            </a><input type="submit" class="btn btn-default" value="Post!" name="statusTextPost" ></button>
        </form>
        
        <div id="connections">
            <h2> Find Users with Similar Interests</h2>
            <a href="{{ url_for('matches') }}">Find Users</a>
        </div>
        <div class="form-group">
            Custom Interest:
        </div>
        <div id = "events">
            <h2> Events</h2>
        </div>
    </body>
</html>
{% endblock %}