{% include "dashboard.html" %}
<!DOCTYPE html>
<html>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div>{{ message }}</div>
        {% endfor %}
    {% endif %}
{% endwith %}
    <body>
    <h1>Friend Requests:</h1>
        <ul>
            {% if user.notification1 != "" %}
                <li>{{user.notification1}}</li>
                <button type="button" onclick="window.location.href='{{ url_for('acceptrequest', notification='notification1') }}';">Accept</button>
                <button type="button" onclick="window.location.href='{{ url_for('declinerequest', notification='notification1') }}';">Decline</button>
            {% endif %}
            {% if user.notification2 != "" %}
                <li>{{user.notification2}}</li>
                <button type="button" onclick="window.location.href='{{ url_for('acceptrequest', notification='notification2') }}';">Accept</button>
                <button type="button" onclick="window.location.href='{{ url_for('declinerequest', notification='notification2') }}';">Decline</button>
            {% endif %}
            {% if user.notification3 != "" %}
                <li>{{user.notification3}}</li>
                <button type="button" onclick="window.location.href='{{ url_for('acceptrequest', notification='notification3') }}';">Accept</button>
                <button type="button" onclick="window.location.href='{{ url_for('declinerequest', notification='notification3') }}';">Decline</button>
            {% endif %}
            {% if user.notification4 != "" %}
                <li>{{user.notification4}}</li>
                <button type="button" onclick="window.location.href='{{ url_for('acceptrequest', notification='notification4') }}';">Accept</button>
                <button type="button" onclick="window.location.href='{{ url_for('declinerequest', notification='notification4') }}';">Decline</button>
            {% endif %}
            {% if user.notification5 != "" %}
                <li>{{user.notification5}}</li>
                <button type="button" onclick="window.location.href='{{ url_for('acceptrequest', notification='notification5') }}';">Accept</button>
                <button type="button" onclick="window.location.href='{{ url_for('declinerequest', notification='notification5') }}';">Decline</button>
            {% endif %}
            {% if user.notification6 != "" %}
                <li>{{user.notification6}}</li>
                <button type="button" onclick="window.location.href='{{ url_for('acceptrequest', notification='notification6') }}';">Accept</button>
                <button type="button" onclick="window.location.href='{{ url_for('declinerequest', notification='notification6') }}';">Decline</button>
            {% endif %}
            {% if user.notification7 != "" %}
                <li>{{user.notification7}}</li>
                <button type="button" onclick="window.location.href='{{ url_for('acceptrequest', notification='notification7') }}';">Accept</button>
                <button type="button" onclick="window.location.href='{{ url_for('declinerequest', notification='notification7') }}';">Decline</button>
            {% endif %}
            {% if user.notification8 != "" %}
                <li>{{user.notification8}}</li>
                <button type="button" onclick="window.location.href='{{ url_for('acceptrequest', notification='notification8') }}';">Accept</button>
                <button type="button" onclick="window.location.href='{{ url_for('declinerequest', notification='notification8') }}';">Decline</button>
            {% endif %}
            {% if user.notification9 != "" %}
                <li>{{user.notification9}}</li>
                <button type="button" onclick="window.location.href='{{ url_for('acceptrequest', notification='notification9') }}';">Accept</button>
                <button type="button" onclick="window.location.href='{{ url_for('declinerequest', notification='notification9') }}';">Decline</button>
            {% endif %}
            {% if user.notification10 != "" %}
                <li>{{user.notification10}}</li>
                <button type="button" onclick="window.location.href='{{ url_for('acceptrequest', notification='notification10') }}';">Accept</button>
                <button type="button" onclick="window.location.href='{{ url_for('declinerequest', notification='notification10') }}';">Decline</button>
            {% endif %}

        </ul>

    </body>
</html>